{% extends "layout.html" %} {% block title %} Register {% endblock %} {% block
main %}
<div class="w-full flex min-h-screen bg-slate-950">
  <div
    class="sm:max-w-lg md:max-w-xl w-full h-full sm:h-fit p-8 sm:shadow-lg sm:m-auto sm:rounded-lg bg-slate-800"
  >
    <h1 class="text-2xl font-semibold text-slate-200 flex gap-2">
      <a href="#" onclick="goBack()"
        ><i class="fa-solid fa-chevron-left"></i>
      </a>
      Chat Group: Edit Profile
    </h1>
    <form
      action="/profile/edit"
      method="POST"
      class="mt-4 mb-2"
      enctype="multipart/form-data"
    >
      <div class="mb-4">
        <label for="profile_url" class="block text-slate-200 mb-1"
          >Profile Picture</label
        >
        {% if user.profile_url %}
        <img
          src="{{ user.profile_url }}"
          alt="Profile Picture"
          class="w-24 h-24 rounded-full mb-2 object-cover"
        />
        {% endif %}
        <input
          type="file"
          name="profile_url"
          id="profile_url"
          class="w-full px-3 py-2 rounded-lg bg-slate-600 text-slate-200"
        />
      </div>
      <div class="mb-4">
        <label for="username" class="block text-slate-200 mb-1">Username</label>
        <input
          autocomplete="off"
          autofocus
          type="text"
          name="username"
          id="username"
          class="w-full px-3 py-2 rounded-lg bg-slate-600 text-slate-200"
          required
          value="{{ user.username }}"
        />
      </div>
      <div class="mb-4">
        <label for="email" class="block text-slate-200 mb-1">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          class="w-full px-3 py-2 rounded-lg bg-slate-600 text-slate-200"
          required
          value="{{ user.email }}"
        />
      </div>
      <div class="mb-4">
        <label for="name" class="block text-slate-200 mb-1">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          class="w-full px-3 py-2 rounded-lg bg-slate-600 text-slate-200"
          required
          value="{{ user.name }}"
        />
      </div>
      <div class="mb-4">
        <label for="password" class="block text-slate-200 mb-1">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="w-full px-3 py-2 rounded-lg bg-slate-600 text-slate-200"
          required
          autocomplete="off"
        />
        <small class="d-block mx-auto text-white"
          >Please enter your password to save changes</small
        >
      </div>
      <button
        type="submit"
        class="w-full py-2.5 rounded-lg bg-blue-600 text-slate-200 hover:bg-blue-700"
      >
        Save
      </button>
    </form>
  </div>
</div>
{% endblock %}
