{% extends "index.html" %} {% block title %} Apology {% endblock %} {% block
main %}
<!-- https://memegen.link/ -->
<!-- https://knowyourmeme.com/memes/grumpy-cat -->
<div
  class="w-full flex flex-col justify-center items-center min-h-screen bg-slate-950"
>
  <a href="#" onclick="goBack()" class="text-white mb-6"
    ><i class="fa-solid fa-chevron-left fa-2xl"></i>
  </a>
  <img
    alt="{{ top }}"
    class="border img-fluid"
    src="https://api.memegen.link/images/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?background=https://i.imgur.com/CsCgN7Ll.png&width=400"
    title="{{ top }}"
  />
</div>
{% endblock %}
