<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/e80beee525.js"
      crossorigin="anonymous"
    ></script>
    <link href="/static/favicon.ico" rel="icon" />
    <link href="/static/styles.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />

    <title>Chat Group: {% block title %}{% endblock %}</title>
  </head>
  <body class="flex h-screen">
    {% block main %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>
