<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/e80beee525.js"
      crossorigin="anonymous"
    ></script>
    <link href="/static/favicon.ico" rel="icon" />
    <link href="/static/styles.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />

    <title>Chat Group: {% block title %}{% endblock %}</title>
  </head>
  <body class="flex h-screen">
    {% block main %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" charset="utf-8">
      const socket = io();
      socket.on("connect", function () {
        console.log("Connected to the server!");
        socket.emit("message", "Hello from the client!");
      });
    </script>
    <script>
      function searchChannels(event) {
        console.log(event.target.value);
        const query = event.target.value.toLowerCase();

        fetch(`/channel/search?name=${query}`)
          .then((response) => response.text())
          .then((html) => {
            document.querySelector("#channel-list").innerHTML = html;
          });
      }
    </script>
  </body>
</html>
