<div class="pb-10 px-16 text-white">
  <form class="relative" onsubmit="submitMessage(event)">
    <input
      name="message"
      type="text"
      placeholder="Type a message here"
      class="bg-slate-600 w-full py-3 pl-6 pr-16 font-medium text-sm rounded-md"
    />
    <button
      class="absolute right-0 px-3 py-1 bg-blue-500 rounded hover:bg-blue-600"
      style="top: 7px; right: 7px"
      type="submit"
    >
      <i class="fa-solid fa-paper-plane"></i>
    </button>
  </form>
</div>
